---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

		<Header />
		<div class="wrapper">
		<main>
			<section class="post-list">
					{
						
						
						posts.map((post) => (
						<a href={`/blog/${post.slug}/`} class="post-link">
							<div class="post-card" style={ "background-image: url('" + post.data.heroImage +"')"}>
								<div class="post-card-details">
									<p class="post-title">{post.data.title}</p>
									<p class="post-desc">{post.data.description}</p>
									<p class="post-date"><time datetime={post.data.pubDate.toISOString()}>
										{post.data.pubDate.toLocaleDateString('en-us', {
											year: 'numeric',
											month: 'short',
											day: 'numeric',
										})}
									</time>
									</p>
								
								</div>
							</div>
						</a>
						))
					}
			</section>
		</main>
		<Footer />
		</div>
	</body>
</html>
